html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.hidebody {
  font-family: sans-serif;
}

.artist_name {
  font-size: 8pt;
  display: inline-block;
}

.instrument {
  margin-left: 20px;
  font-size: 8pt;
  margin-bottom: 10px;
}
.title {
  font-size: 24pt;
  font-weight: 600;
}
.date {
  font-size: 8pt;
}

table {
	border-collapse: collapse;
}

td, th {

	padding: 5px;
  vertical-align: top;
}

.center {
  text-align: center;
  max-width: 40%;
  padding: 10px;
  margin: 10px;
}

.linked_album img, .header img, .external_links img {

  padding: 2px;
  margin: 2px;
}

.center img {
  max-width: min(600px, 100%);
}

.img_holder {
  display: inline-block;
}

.headliner {
  margin-bottom: 10px;
}

.linked_album {
  padding: 2px;
  margin: 2px;

  width: 100%;
  border: 1px solid #444444;
  border-radius: 5px;
  cursor:pointer;
}

.linked_album img {
  min-width: 100px;
  display: inline-block !important;
  max-width: 204px;
}

.artist_info {
  cursor: pointer;
  margin: 3px;
  padding: 2px;
  height: fit-content;
  border: 1px solid #444444;
}

.linked_album:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.xartist_info:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
}

.xalbum_title:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
}

.album_title {
  cursor: pointer;
  font-size: 8pt;
  text-align: center;
}

.album_title img {
  display: inline-block;
  max-width: 20vw;
}

.header {
  position: relative;
  top: 0;
  padding: 20px;
  white-space: wrap;
  background-color: white;
  width: 100%
}

.link_span {
  cursor: pointer;
}

.page_title_div {
  display: inline-block;
  margin-left: 200px;
  width: 50vw;
}
.page_title {
  font-size:24pt;
  font-weight: 600;
  margin-left: 10px;
}

.page_subtitle {
  font-size: 10pt;
  font-weight: 100;
  font-style: italic;
}

.search_input {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
}

.search_input input {
  font-size: 12pt;
  margin-right:3px;
}

.search_input img {
  margin-bottom: -8px;
}

.plot, .details {
  display: inline-block;
  text-align: left;
  width: 35vw;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  clear: both;
  font-size: 9pt;
  background-color: #666666;
}

.details {
  margin-top: 20px;
}

.artist_pix {
  max-width: 20vw;

  margin: 2px;
  padding: 2px;
}

.artist_featured_pix {
  max-width: 300px;
  max-height: 60vh;
  border: 1px solid lightgray;
  margin: 0px;
  padding: 3px;
}

.artist_featured {
  flex: 0 0 300px;
  text-align: center;
  margin:20px;
  width: 300px;
  cursor:default;
}

.artist_featured_name {
  font-weight: 600;
  font-size: 16pt;
  width: 100%;
  margin-bottom: 10px;
}

.artist_featured_bio {
  margin-bottom: 30px;
  max-width: 300px;
  text-align: left;
  white-space: wrap;
}


.timeline {
 display: flex;
 cursor:all-scroll;
}


.artists {
  text-align: center;
  width: 100%;
}

.variations {
  display: inline-block;
  width: 10px;
  font-weight: 200;
  font-size: 10pt;
  margin-right: 20px;
  white-space: nowrap;
}

.age {
  font-size:10pt;
  font-weight: 100;
}

.selected_variation {
  font-weight: 600;
  font-style: italic;
}

.gallery {
  font-weight: 600;
  font-style: italic;
  margin: 8px;
  position: relative;
  top:-0.2em;
}

.career_map td {
  padding: 0px;
  vertical-align: bottom;
}

.career_map {
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width:100%;
  font-size:9pt;
}

.career_map_table {
  width: 100%;
  margin-bottom: 8px;
}

.career_map_bar {
  width: 2px;
  background-color: red;
}
.career_map_bar:hover {
  background-color: blue;
}

.min_date, .max_date {
  font-weight: 100;
}

.min_date {
  float: left;
}

.max_date {
  float: right;
}

button {
  padding-left:4px;
  padding-right:4px;
  margin-left: 7px;
  margin-right: 7px;
  height: 25px;
  border-radius: 7px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.bio_details {
  font-size: 10pt;
  font-weight: 100;
  margin-bottom: 10px;
}

.oscar_poster {
  height: 400px;
  margin: 25px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 25px;
}




.top {
  position:relative;
  white-space: nowrap;
  padding: 10px;
  margin: 0px;
  text-align: center;
  background-color: black;
  width: 100%;
}



.year_cell {
  background-color: lightgray;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px; 
  padding: 3px;
  text-align: center;
  font-family: sans-serif; 
  letter-spacing: 10px; 
  font-weight: 100;
  font-size: 10pt;
  cursor: pointer;
}

.movie {
  white-space: wrap; 
  font-family: sans-serif; 
  margin-bottom: 12px;
  font-size: 10pt;
  cursor: pointer;
  text-align: center;
}

.movie img {
  width: 100%;
  max-width:300px;
}

.movie_table a { 
  color: inherit;  
  text-decoration: none;
  table-layout: fixed; 
  margin-right: 10px;
  width: 100%;
}


.movie_table th { 
  position: sticky; 
  top: 0; 
  background-color: white
}

.genres { font-size: 8pt;}

.range_input {
  margin: 2px;
}

.selectors {
  font-size: 9pt;
}

.genre_selector {
  overflow-y: auto;
  height: fit-content;
  display: inline-block;
  width: 100%;
  columns: 4;
  text-align: left;
}

.rank_selector {
  margin: 10px;
  cursor: pointer;
}

.rank_selector:hover, .genre:hover {
  text-decoration: underline;
}

.genre {
  cursor: pointer;
}


.top_title {
  font-family: 'Copperplate';
  font-size: 18pt;

  float: left;
  text-align: center;
  width: calc(100% - 500px);
}

.selected {
  font-size:18pt;
  color: blue;
  font-weight: 600;
  margin: 10px;
}


#scrubber {
  width: calc(100% - 250px);
  height: 8px;
  text-align: center;
  display: inline-block;
}
#tooltip {
  position:relative;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  border: 1px solid darkgray;
  font-size: 10pt;
}
#scrubberContainer {
  overflow:hidden;
  text-align:center;
  white-space: nowrap;
  width: fit-content;
  width: 100%;
}

.settings {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  text-align: left;
  width: fit-content;
  height: 300px;
  font-size: 14pt;
}

.arrow {
  font-size:14pt;
  cursor: pointer;
  margin: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  white-space: wrap;
  width: 100%;
}

.content table {
  width: 100%
}

.sidebar_title {
  font-style: italic;
}

.sidebar {
  width: 20vw;
}

.context, .artist {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  overflow-y: scroll;
}

.artist {
  z-index: 1;
}

.wall {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  overflow-y: scroll;
}

.movie_table {
  table-layout: fixed;
  position: relative;
  width:100%;
  background-color: white;
  overflow-y: scroll;
}

body {
  overflow-y: auto;
}

.settings {
  position: fixed;
  top: calc(50vh - 175px);
  left: calc(50vw - 250px);
  width: 500px;
  height: 350px;
  z-index: 3;
  border: 1px solid black;
  background-color: white;
  text-align: center;

}

.menu {
  width: 100%;
  z-index: 3;
  display: inline-block;
  position: relative;
  background-color: white;
  height: 60px;
  overflow: hidden;
  text-align: center;

}

.top_form {
  white-space: nowrap;
  float: right;
  height: fit-content;
  margin-right: 10px;
}

.top_form input {
  margin-left: 3px;
}

.genre {
  height: 24px;
  margin-right: 5px;
  margin-top: 0px;
}


.movie {
  background-color: black;
}

.movie_table td, .movie_table th {
  background-color: black;
  color: white;
}


.menu, body, .wall, .content, html, __next, .header{
  background-color: black;
  color: white;
}


::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background: #969696;
  color: white;
  -webkit-border-radius: 1ex;
}

.youtube_logo {
  background-color: white;
  padding-right:2px;
  border-radius: 10px;
}

.artist_div {
  -webkit-column-break-inside: avoid; 
  font-size: 8pt;
}

.back_button {
  cursor: pointer;
  font-size: 18pt;
}

.back_button_div {
  float: left;
  margin-left: 30px;
}