html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.hidebody {
  font-family: sans-serif;
}

.artist_name {
  font-weight: 600;
}

.instrument {
  margin-left: 20px;
  font-size: 10pt;
  margin-bottom: 10px;
}
.title {
  font-size: 24pt;
  font-weight: 600;
}
.date {
  font-size: 8pt;
}

table {
	border-collapse: collapse;
}

td, th {

	padding: 5px;
  vertical-align: top;
}

.center {
  text-align: center;
  max-width: 550px;
  padding: 10px;
  margin: 10px;
}

.linked_album img, .header img, .external_links img {
  max-width: 200px;
  padding: 5px;
  margin: 5px;
}

.center img {
  max-width: 500px;
}

.headliner {
  margin-bottom: 10px;
}

.linked_album {
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  max-width: 250px;
  min-width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor:pointer;
}

.artist_info {
  cursor: pointer;
  margin: 5px;
  padding: 0px;
}

.linked_album:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.xartist_info:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
}

.xalbum_title:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
}

.header {
  position: relative;
  top: 0;
  padding: 20px;
  white-space: nowrap;
  background-color: white;
  width: 100%
}

.link_span {
  cursor: pointer;
}

.page_title_div {
  display: inline-block;
  margin-left: 40px;
  width: 470px;
}
.page_title {
  font-size:24pt;
  font-weight: 600;
}

.page_subtitle {
  font-size: 10pt;
  font-weight: 100;
  font-style: italic;
}

.search_input {
  display: inline-block;
  width: 300px;
}

.search_input input {
  font-size: 14pt;
  margin-right:3px;
}

.search_input img {
  margin-bottom: -8px;
}

.plot, .details {
  display: inline-block;
  text-align: left;
  width: 400px;
  margin: 20px;
  background-color: #EEEEEE;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  clear: both;
}

.details {
  margin-top: 20px;
}

.artist_pix {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid lightgray;
  margin: 5px;
  padding: 3px;
}

.artist_featured_pix {
  max-width: 300px;
  border: 1px solid lightgray;
  margin: 0px;
  padding: 3px;
}

.artist_featured {
  flex: 0 0 300px;
  text-align: center;
  margin:20px;
  width: 300px;
  cursor:default;
}

.artist_featured_name {
  font-weight: 600;
  font-size: 16pt;
  width: 100%;
  margin-bottom: 10px;
}

.artist_featured_bio {
  margin-bottom: 30px;
  max-width: 300px;
  text-align: left;
}


.timeline {
 display: flex;
 cursor:all-scroll;
}


.artists {
  text-align: center;
  width: 100%;
}

.variations {
  display: inline-block;
  width: 130px;
  font-weight: 200;
  font-size: 10pt;
  margin-right: 20px;
  top:-100px;
}

.age {
  font-size:10pt;
  font-weight: 100;
}

.selected_variation {
  font-weight: 600;
  font-style: italic;
}

.gallery {
  font-weight: 600;
  font-style: italic;
  margin: 8px;
  position: relative;
  top:-0.2em;
}

.career_map td {
  padding: 0px;
  vertical-align: bottom;
}

.career_map {
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width:100%;
  font-size:9pt;
}

.career_map_table {
  width: 100%;
  margin-bottom: 8px;
}

.career_map_bar {
  width: 2px;
  background-color: red;
}
.career_map_bar:hover {
  background-color: blue;
}

.min_date, .max_date {
  font-weight: 100;
}

.min_date {
  float: left;
}

.max_date {
  float: right;
}

button {
  padding-left:4px;
  padding-right:4px;
  margin-left: 7px;
  margin-right: 7px;
  height: 25px;
  border-radius: 7px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.bio_details {
  font-size: 10pt;
  font-weight: 100;
  margin-bottom: 10px;
}

.oscar_poster {
  height: 400px;
  margin: 25px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 25px;
}



.movie_page {
  position:relative;
  white-space: nowrap;
  padding: 10px;
  margin: 0px;
  width:100%;
  text-align: center;
}

.filterpanel {
  vertical-align: top;
  width: fit-content;
  height: fit-content;
  position: relative;
  border: 1px solid gray;
  padding: 10px;

  overflow: hidden;
  font-size: 10pt;
  white-space: wrap;
  display: inline-block;

}

.year_cell {
  background-color: lightgray;
  color: black;
  margin: 10px;
  height: 25px; 
  padding: 5px;
  text-align: center;
  font-family: sans-serif; 
  letter-spacing: 10px; 
  font-weight: 100;
}

.movie {
  white-space: wrap; 
  font-family: sans-serif; 
  margin-bottom: 12px;
  font-size: 10pt;
}

.movie img {
  width: 100%;
}

.movie_table a { 
  color: inherit;  
  text-decoration: none;
  table-layout: fixed; 
  margin-right: 10px;
}

.movie_table th { position: sticky; top: 0; background-color: white}

.genres { font-size: 8pt;}

.range_input {
  margin: 2px;
}

.selectors {
  font-size: 9pt;
}

.genre_selector {
  overflow-y: auto;
  height: fit-content;
  display: inline-block;
  width: 100%;
  columns: 4;
  text-align: left;
}

.rank_selector {
  margin-right: 5px;
  cursor: pointer;
}

.rank_selector:hover, .genre:hover {
  text-decoration: underline;
}

.genre {
  cursor: pointer;
}


.page_title {
  font-family: 'Copperplate';
  font-size: 24pt;
  margin-bottom: 5px;

}

.selected {
  font-size:18pt;
  color: blue;
  font-weight: 600;
}


#scrubber {
  width:250px;
  text-align: center;
  display: inline-block;
}
#tooltip {
  position:relative;
  display: inline-block;
  margin: 4px;
  padding: 5px;
  border: 1px solid black;
}
#scrubberContainer {
  overflow:hidden;
  text-align:center;
  white-space: nowrap;
}

.settings {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  text-align: left;
  width: fit-content;
  height: 300px;
  font-size: 16pt;
  letter-spacing: 3px;
}

.arrow {
  font-size:20pt;
  cursor: pointer;
  margin: 10px;
}